.containerVideogames{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button.active {
    background-color: #333;
    color: #fff;
  }

  .boxFiltro{
    display: flex;
    justify-content: center;
  }
  .ordenar, .origen, .rating, .generos{
    padding: .2rem;
  }

  /* mostrar todo */
  .all{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .boxFiltro{
        display: block;
    }
  }
